.nav_items ul li{
          list-style: none;
          padding: 10px;
          cursor: pointer;
          float: right;
          line-height:30px;

        

}

.nav_items ul{
          display: flex;
          float: right;
          
}

.navbar{
          display: flex;
          border: 2px solid red;
}

.logo {
          padding: 27px;
          font-weight: bold;
          font-size: 20px;
}

.main_component h2{
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 30px;
      border: 2px solid black;
      position: absolute;
      
}

.sub_component {
          display: flex;
          justify-content: center;
          /* float: right;
          float: left */
          
}

.nav_items  {
      float: right;
      line-height:30px;
}